@font-face {
  font-family: "catamaran";
  src: url(../catamaran/Catamaran-VariableFont_wght.ttf);
}

@font-face {
  font-family: "inter";
  src: url(../Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: "mario";
  src: url(../marioFont/Super\ Mario\ Bros..ttf);
}
@font-face {
  font-family: "mario2";
  src: url(../marioFont/SuperMario256.ttf);
}
