@font-face {
    font-family: "catamaran";
    src: url(../catamaran/Catamaran-VariableFont_wght.ttf);
}

@font-face {
    font-family: "inter";
    src: url(../Inter/Inter-VariableFont_opsz\,wght.ttf);
}