#top_players {
  position: relative;
  height: 400px;
  width: 600px;
  padding: 75px;
}

#first_player {
  height: 250px;
  width: 250px;
  position: relative;

  position: absolute;
  z-index: 3;
  left: 30%;
}

#first_player_bubble {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid rgb(226, 226, 226);
  background-color: rgb(255, 255, 255, 0.9);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#first_player_pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* bilden ska sättas i js */
  background-image: url(../images/players/babyPeach.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#rankingBubble1 {
  width: 60px;
  height: 60px;
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  z-index: 5;

  top: -10px;
  left: 80%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;

  color: #000;
  font-family: "inter";
  font-size: 20px;
  font-weight: 800;
}

#second_player {
  height: 210px;
  width: 210px;
  position: relative;

  position: absolute;
  z-index: 2;
  right: 340px;
  top: 150px;
}

#second_player_bubble {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  border: 1px solid rgb(226, 226, 226);
  background-color: rgb(255, 255, 255, 0.9);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#rankingBubble2 {
  width: 60px;
  height: 60px;
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  z-index: 5;

  bottom: -5px;
  left: 10%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;

  color: #000;
  font-family: "inter";
  font-size: 20px;
  font-weight: 800;
}

#second_player_pic {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  /* bilden ska sättas i js */
  background-image: url(../images/players/babyPeach.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#third_player {
  height: 190px;
  width: 190px;
  position: relative;

  position: absolute;
  z-index: 1;
  right: 70px;
  top: 185px;
}

#third_player_bubble {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 1px solid rgb(226, 226, 226);
  background-color: rgb(255, 255, 255, 0.9);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#rankingBubble3 {
  width: 60px;
  height: 60px;
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  z-index: 5;

  bottom: -10px;
  left: 90%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;

  color: #000;
  font-family: "inter";
  font-size: 20px;
  font-weight: 800;
}

#third_player_pic {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  /* bilden ska sättas i js */
  background-image: url(../images/players/babyPeach.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#participants_list_button {
  color: #fff;
  font-size: 18px;
  font-weight: 700;

  padding: 10px 120px;
  background-color: #ff0000;
  border-radius: 10px;
  border: 1px solid #d00202;
  margin-bottom: 120px;
}

#players {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
  margin: 70px auto 0 auto;
  position: relative;
  /*  ta bort?? */
}

.player_card {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
}

.players_circle {
  width: 130px;
  height: 130px;

  border-radius: 50%;
  border: 1px solid rgb(226, 226, 226);
  background-color: rgb(255, 255, 255, 0.9);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.players_pic {
  width: 130px;
  height: 130px;
  border-radius: 50%;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.players_ranking {
  width: 50px;
  height: 50px;
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  z-index: 5;

  bottom: -10px;
  left: 10%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;

  color: #000;
  font-family: "inter";
  font-size: 16px;
  font-weight: 800;
}

.choosen_player_page {
  width: 675px;
  height: 390px;

  border-radius: 10px;
  background-color: #fff;
  border: 1px solid rgb(236, 234, 234);

  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);

  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: min(90vw, 700px);
  max-height: 85vh;

  z-index: 999;
}

.choosen_player_leftside {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.choosen_player_pic {
  width: 150px;
  height: 250px;
}

.choosen_player_namebox {
  width: 250px;
  height: 50px;
  border-radius: 10px;

  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-weight: 900;

  display: flex;
  align-items: center;
  justify-content: center;
}

.choosen_player_rightside {
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.choosen_player_info {
  width: 325px;
  height: 30px;
  background-color: aqua;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.choosen_player_info_text {
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-weight: 900;
  margin: auto;
}

.choosen_player_svg {
  height: 270px;
  width: 315px;
  border: 1px solid black;
}

.choosen_player_arrow {
  height: 60%;
}

.choosen_player_right_arrow {
  width: 30px;
  height: 30px;
}

.choosen_player_left_arrow {
  width: 30px;
  height: 30px;
}