#participants_page_backgroundimage {
  background-image: url(../images/backgrounds/participantsPageBackground.png);
  background-size: cover;
  width: 100%;
  height: 40vh;
}

#participants_page_title {
  color: #ffffff;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  font-weight: 900;
}

#participants_page_participants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7a7c8;
  padding-top: 120px;
}

#participants_page_box {
  background-image: url(../images/backgrounds/whiteGreyBackground.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#participants_page_informationbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 70px;
}

#participants_page_information_title {
  color: #000;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 0.64px;
  width: 100%;
}

#participants_page_information_text {
  color: #000;

  font-family: "inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.48px;
}
